#root {
  width: 60%; 
  margin: 0 auto; 
  padding: 2rem;
  text-align: center;
}


.app {
  width: 50%; 
  
  margin: 0 auto; 
  transition: background-color 0.3s, color 0.3s;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}


.light-mode {
  background-color: white;
  color: black;
}

.light-mode button {
  background-color: #ffffff;
  color: #000000;
}

.light-mode .user-card {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
}


.dark-mode {
  background-color: #333333;
  color: #ffffff;
}

.dark-mode button {
  background-color: #333333;
  color: #ffffff;
}

.dark-mode .user-card {
  background-color: #444444;
  border: 1px solid #555;
}


.user-card {
  padding: 20px;
  margin-left:200px ;
  width:50%;
  margin-bottom: 10px;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
}


input[type="text"], textarea {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  text-align: center;
  width: 80%;
  transition: background-color 0.3s, color 0.3s;
}


.light-mode input[type="text"], .light-mode textarea {
  background-color: #f0f0f0;
  color: #000000;
}

.light-mode input[type="text"]:focus, .light-mode textarea:focus {
  background-color: #ffffff;
}


.dark-mode input[type="text"], .dark-mode textarea {
  background-color: #555555;
  color: #ffffff;
}


.dark-mode input[type="text"]:focus, .dark-mode textarea:focus {
  background-color: #666666;
}


button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  opacity: 0.9;
} 
